＠CHARSET "UTF-8";

body{
	background-color:white;
}

.cafe{
	border:#330099 2px dotted;
	border-radius:35px;
}

#topMenu{
	background-color:white;
	color:black;
}

#topMenu ul{
	margin-left:80%;
	list-style:none;
	text-align:center;
	padding:10px;
	border-top:  #051c69;
	border-bottom: #051c69;
}

#topMenu ul li{
	display:inline;
}

#topMenu2 ul{
	height:5%;
}

.menubar li ul{
	background rgb(109,109,109);
	display:none; /* 평상시에는 서브메뉴가 안보이게 */
	height:auto;
	width:500px;
	left:35%;
	position:absolute;
	padding:0px;
	margin:0px;
	border:0px;
	padding:0px;
	z-index:300;
	
}

.menubar li:hover ul{
	display:block;
}

header{
	height:50px;
	margin:10px;
}

header a{
	text-decoration:none;
	text-shadow:2px 2px 3px;	
	margin:10px;
	color:white;
	font-family:"함초롬돋움";
	font-size:23px;
}


nav{
	color:black;
	margin:10px;
}

nav ul{
	list-style:none;
	text-align:center;
	padding:10px;
	border-top:1px solid  #051c69;
	border-bottom:1px solid  #051c69;
}
nav ul li{
	display:inline;
	letter-spacing:2px;
	padding:0 10px; 
}

nav ul li a{
	text-decoration:none;
	color:black;
}

nav ul li a:hover{ 
	text-decoration:underline;
}



article{
	float:left;
	width:100%;
	height:80%;
	background-image:url(images/logo.jpg);
}


aside#right {
	float:left;
	margin-left:10px;
	line-height:30px;
}


footer{
	clear:both;
	height:70px; 
	width:100%;
	text-align:center;
}